#color_box {
  min-height: calc(100vh - 3rem);
  }
  
  .green {
    background: #bdbf09;
  }
  .blue {
    background: #2292a4;
  }
  .orange {
    background: #d96c06;
  }
  
  .yellow {
    background: #ffbd00;
  }
  
  .red {
    background: #ff0054;
  }
  
  .pink {
    background: #9e0059;
  }
  
  .purple {
    background: #531253;
  }
  
  .mauve {
    background: #c493b0;
  }
  
  .gray {
    background: #6f686d;
  }
  
  .brown {
    background: #554640;
  }

  
  